{% extends 'base.html' %}


{% block content %}
<!-- content header -->
<section class="content-header">
  <h2>
    Dashboard
  </h2>
  <br>
</section>
<!-- /.content header -->

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Toplam Sayılar</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <!-- col -->
          <div style="color: #fff;" class="col-lg-4 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3>{{ count_hosts }}</h3>

                <p>Toplam Host Sayısı</p>
              </div>
              <div class="icon">
                <i class="fa fa-desktop"></i>
              </div>
              <a href="/hosts_index/" class="small-box-footer">Ayrıntılı Bilgi <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <!-- col -->
          <div style="color: #fff;" class="col-lg-4 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3>{{ count_host_groups }}</h3>

                <p>Toplam Host Grubu Sayısı</p>
              </div>
              <div class="icon">
                <i class="fa fa-sitemap"></i>
              </div>
              <a href="/host_groups_index/" class="small-box-footer">Ayrıntılı Bilgi <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <!-- col -->
          <div style="color: #fff;" class="col-lg-4 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-red">
              <div class="inner">
                <h3>{{ count_services }}</h3>

                <p>Toplam Servis Sayısı</p>
              </div>
              <div class="icon">
                <i class="fa fa-cog"></i>
              </div>
              <a href="/services_index/" class="small-box-footer">Ayrıntılı Bilgi <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row col-md-6">




            <canvas id="myChart" width="400" height="400"></canvas>

















          {% for dic in group_by_host_groups %}
              {% for key, value in dic.items %}
              {{ value }}
              {% endfor %}
          {% endfor %}
          </div>
          <div class="row col-md-6">
          {% for dic in group_by_host_groups %}
              {% for key, value in dic.items %}
              {{ value }}
              {% endfor %}
          {% endfor %}
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>


</section>
<!-- /.content -->
{% endblock %}

{% block footer-add %}
<!-- ChartJS -->
<script src="/static/bower_components/chart.js/Chart.bundle.js"></script>
<script src="/static/bower_components/chart.js/utils.js"></script>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
{% endblock %}
