{% extends 'base.html' %}

{% block content %}

    <!-- mesajlar  -->
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% for hg in host_groups %}
    {{ hg.id }} ..
    <a href="/host_groups_update/{{ hg.id }}">{{ hg.hostgroup_name }}</a>
    {{ hg.alias }} <a href="/host_groups_delete/{{ hg.id }}">   Sil</a> <br>
    {% endfor %}

{% endblock %}
