{% extends 'base.html' %}

{% block headlink-add %}
{% endblock %}

{% block content %}
<!-- content header -->
<section class="content-header">
  <h2>
    {{ title }}
  </h2>
</section>

<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <!-- <h1 class="box-title">Quick Example</h1> -->
          <p>Türkçe karakter kullanmayınız.</p>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <!-- form start -->

          <form role="form" method="post">
            <div class="col-md-2"></div>

            <div class="col-md-8">
              {% csrf_token %}

              {% for field in form %}
              <br>
              <div class="form-group">

                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                  <small>{{ field.help_text|safe }}</small>
                {% endif %}

              </div>
              {% endfor %}
            </div>

            <div class="col-md-2"></div>

            <div class="submit-row col-md-12">
              <!-- Sadece guncelleme sayfasında sil butonu görünür.  -->
              {% if update  == "yes" %}
              <a class="pull-left" href="/service_template_delete/{{ id }}">
                <button type="button" class="btn btn-block btn-danger">Sil</button>
              </a>
              {% endif %}
              <input style="margin-left: 20px;" class="btn btn-primary pull-right" type="submit" value="Kaydet">
              <a class="pull-right" href="/services_template_index">
                <button type="button" class="btn btn-block btn-default">Çık</button>
              </a>
            </div>
          </form>
        </div>
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
<!-- /.content header -->
{% endblock %}

{% block footer-add %}
{% endblock %}
